version: '3'
services:
  traefik:
    image: "traefik:{{traefik_version}}"
    container_name: "{{traefik_container_name}}"
    restart: "always"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{traefik_dir}}/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "{{traefik_dir}}/letsencrypt:/etc/traefik/letsencrypt"
    labels:
      - "traefik.enable=true"
	  # Dashboard
	  - "traefik.http.routers.traefik.rule=Host(`{{ansible_nodename}}.aptrust.org`)"
	  - "traefik.http.routers.traefik.service=api@internal"
	  - "traefik.http.routers.traefik.middlewares=admin"
	  - "traefik.http.routers.traefik.tls.certresolver=le"
	  - "traefik.http.routers.traefik.entrypoints=secure"
	  - "traefik.http.middlewares.admin.basicauth.users=admin:$$2y$$05$$ngKkHMr5f3AdFbfSZ9fjkO5UQxzdcWVtBoMoGbx/eFXQS3pl42iqu"
      # HTTP to HTTPS redirection
      - "traefik.http.routers.http_catchall.rule=HostRegexp(`{any:.+}`)"
      - "traefik.http.routers.http_catchall.entrypoints=insecure"
      - "traefik.http.routers.http_catchall.middlewares=https_redirect"
      - "traefik.http.middlewares.https_redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.https_redirect.redirectscheme.permanent=true"

  echo:
    image: "hashicorp/http-echo"
    command: -text="Hello World!"
    labels:
      - "traefik.enable=false"
      - "traefik.http.routers.echo.rule=Host(`staging.aptrust.org`)"
      - "traefik.http.routers.echo.entrypoints=secure"
      - "traefik.http.routers.echo.tls.certresolver=le"

networks:
  default:
    external: ## Network has been created outside of docker-compose
      name: "{{traefik_network}}"
