version: '3'
services:
  traefik:
    image: "traefik:{{traefik_version}}"
    container_name: {{traefik_container_name}}
    restart: "always"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080" # Traefik Dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{traefik_dir}}/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "{{traefik_dir}}/acme.json:/etc/traefik/acme.json"
    labels:
      - traefik.enable=true
      # HTTP to HTTPS redirection
      - "traefik.http.routers.http_catchall.rule=HostRegexp(`{any:.+}`)"
      - "traefik.http.routers.http_catchall.entrypoints=insecure"
      - "traefik.http.routers.http_catchall.middlewares=https_redirect"
      - "traefik.http.middlewares.https_redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.https_redirect.redirectscheme.permanent=true"

  echo:
    image: "hashicorp/http-echo"
    command: -text="Hello World!"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.echo.rule=Host(`staging.aptrust.org`)"
      - "traefik.http.routers.echo.entrypoints=secure"
      - "traefik.http.routers.echo.tls.certresolver=le"

networks:
  default:
    external: ## Network has been created outside of docker-compose
      name: "{{traefik_network}}"
