{{dpnserver_app_root}}/log/*.log {
  daily
  missingok
  rotate 10
  compress
  delaycompress
  notifempty
  copytruncate
  postrotate
        mv {{dpnserver_app_root}}/log/*.gz {{central_log_dir}}
  endscript
}
