#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ansible_managed}}
# Default Server
server {
    listen 80 default_server;
    server_name _ ;

    client_max_body_size 10;
    index index.html index.htm;
    return 301 https://$host$request_uri;
}
